<!-- create a post modal -->

<div class="modal" tabindex="-1" id="newPostModal">
  <div class="modal-dialog modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-floating mb-3">
            <input type="text" class="form-control" id="postTitle" placeholder="Post Title">
            <label for="postTitle">Post Title</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Type post text here" id="postBody" style="height: 250px"></textarea>
                <label for="postBody">Post Body</label>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="newPostBtn" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- edit a post modal -->

<div class="modal" tabindex="-1" id="editPostModal">
  <div class="modal-dialog modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-floating mb-3">
            <input type="text" class="form-control" id="editedTitle" placeholder="Post Title">
            <label for="editedTitle">Post Title</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Type post text here" id="editedBody" style="height: 250px"></textarea>
                <label for="editedBody">Post Body</label>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="editPostBtn" type="button" class="btn btn-primary">Save Changes</button>
        <button id="deletePost" type="button" class="btn btn-danger">Delete Post</button>
      </div>
    </div>
  </div>
</div>