<div class="row justify-content-center">
    <div class="col-lg-6">
        <form class="p-4 border rounded-3 bg-light">
            <h3>Log in</h3>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" placeholder="jonDoe37">
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <button type="submit" class="btn btn-primary w-25">Submit</button>
        </form>
    </div>
</div>

<script src="./assets/login.js"></script>