<section id="singlePost" class="mt-5">
    <div class="row justify-content-center">
        <div id="postHead" class="col-md-8">
            <h3>{{post.post_title}}</h3>
            <p>by {{post.user.username}} on {{format_date post.createdAt}}</p>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div id="postBody" class="col-md-8">
            {{post.post_body}}
        </div>
    </div>
    <div id="comments" class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h5>Comments</h5>
            {{> comments}}
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <form class="col-md-8">
            <div class="form-floating mb-2">
                <textarea class="form-control" placeholder="Type comment here..." id="newComment" style="height: 100px"></textarea>
                <label for="newComment">Add a comment</label>
            </div>
            <button id="saveComment" type="button" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>

<script src="./assets/comment.js"></script>