body {
    height: 100%;
    min-height: 100vh;
    position: relative;
}

h1 {
    font-size: 3em;
    font-weight: 100;
}

.post-head {
    border-bottom: 1px solid #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

footer {
    margin-top: auto;
}

.list-group-item {
    cursor: pointer;
}

#postHead {
    border-bottom: 1px solid #666;
}